$font-size-15: 15px;
$font-size-22: 22px;
$weight-700: 700;
$mw-288: 288px;
$mw-87: 87%;
$mw-100: 100%;
$border-radius-10: 10px;
$border-radius-20: 20px;

// spacing
$p-16-42: 16px 16px 42px 16px;

$m-0: 0;
$mb-19: 19px;
$mb-28: 28px;
$mt-unset: unset;
